<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.fitoussoft.wapitry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".Application"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AccountsActivity"
            android:label="@string/title_activity_accounts"
            android:parentActivityName=".activities.MainActivity">

        </activity>

        <activity
            android:name=".activities.ReflectionsActivity"
            android:label="@string/title_activity_reflections"
            android:parentActivityName=".activities.AccountsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.fitoussoft.wapitry.activities.AccountsActivity" />
        </activity>

        <!--WAPI SDK-->
        <activity
            android:name="fr.fitoussoft.wapisdk.activities.AuthActivity"
            android:label="@string/title_activity_auth" />
        <service
            android:name="fr.fitoussoft.wapisdk.services.WAPIService"
            android:exported="false" />

    </application>

</manifest>
